<div class="app-container">
  <header class="app-header">
    <h1>iPhone Text Messaging Simulator</h1>
    <a href="https://github.com/mbejda/iphone-message-simulator">   <i class="bi bi-github"></i>  mbejda/iphone-message-simulator</a>
  </header>
  <main class="app-content">
    <div class="layout">
      <app-iphone></app-iphone>
      <app-message-builder></app-message-builder>
    </div>
  </main>

  <footer class="app-footer">

    <div>
      Built with <i class="bi bi-heart-fill"></i> <a href="https://mbejda.com"> Milos Bejda </a>

    </div>



  </footer>
</div>
